<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%class{0}:%method:%line] - %msg%n</pattern>
    </encoder>
  </appender>

  <root>
    <level value="ERROR" />
    <appender-ref ref="STDOUT" />
    <!-- <appender-ref ref="FILE" /> -->
  </root>
  <logger name="com.elastisys">
    <level value="debug" />
  </logger>
  <!-- Logs HTTP headers only for all requests with debug level set. -->
  <logger name="jclouds.headers">
    <level value="warn" />
  </logger>
  <!-- Logs all HTTP content with debug level set. Very verbose! -->
  <logger name="jclouds.wire">
    <level value="warn" />
  </logger>
</configuration>