<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <!-- captures the entire cloudadapter log -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>server.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>server.log.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- keep 7 days' worth of history -->
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d [%thread] %-5level [%class{0}:%method:%line] - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- only output ERROR messages on console -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">    
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <encoder>
      <pattern>%d [%thread] %-5level [%class{0}:%method:%line] - %msg%n</pattern>
    </encoder>
  </appender>

  <root>
    <level value="ERROR" />
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>
  
  <logger name="com.elastisys">
    <level value="debug" />
  </logger>
  <logger name="com.amazonaws">
    <level value="warn" />
  </logger>  
  <!-- a summary of requests/responses with AWS request IDs -->
  <logger name="com.amazonaws.request">
    <level value="warn" />
  </logger>
  <!-- Logs all HTTP content (headers, parameters, content, etc) for -->
  <!-- all requests and responses. Very verbose! -->
  <logger name="httpclient.wire">
    <level value="warn" />
  </logger>

</configuration>